#myLogo {
    background-image: url("../images/logo.png");
    width: 90px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
}
#loginLogo {
    background-image: url("../images/logo.png");
    height:200px;
    width:200px;
    margin: 0 auto;
}
#welcome {
    width:90px;
    font-size:10px;
    margin-left:30px;
}
.mainPage {
    margin-top:90px;
}
.buttonAtt {
    width:100%;
}
@media (max-width: 992px) {
.searchBar {
    display: none;
}
.iconsNav {
    flex:2;
    display: block;
    direction:rtl;
}
}
@media (min-width: 992px) {
    .iconsNav {
        display: none;
    }
}


#match-list div{
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
}
#match-list {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
}

#match-list div:hover {
    background-color: #e9e9e9; 
}

.parkingObject:hover {
    background-color: #e9e9e9;
    cursor: pointer;
}
.parkingObject {
    display: flex;
    align-items: center;
    text-align: center;
}

.defaultImg {
    width:20%;
}